<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vid.mapper.ContactsMapper">
    <!-- 这里namespace必须是UserMapper接口的路径” -->
    <select id="getAllContacts" resultType="Contact">
        SELECT
            relationship.notename AS noteName,
            friendgroup.name      AS `group`,
            relationship.friendid AS userID
        FROM relationship
            LEFT OUTER JOIN friendgroup ON relationship.groupid = friendgroup.id
        WHERE relationship.ownerid = #{0};
    </select>

    <select id="isContacts" resultType="Relationship">
        SELECT *
        FROM relationship
        WHERE ownerid = #{0} AND friendid = #{1}
    </select>
    <select id="isContactsWithVideo" resultType="com.vid.model.Relationship">
        SELECT *
        FROM relationship
        WHERE ownerid = #{0} AND friendid = #{1} AND videoID = #{2}
    </select>
    <select id="getNoteName" resultType="java.lang.String">
        SELECT notename
        FROM relationship
        WHERE ownerid = #{0} AND friendid = #{1}
        LIMIT 1
    </select>
    <select id="getContactInfo" resultType="Relationship">
        SELECT *
        FROM relationship
        WHERE ownerid = #{0} AND friendid = #{1}
    </select>
    <select id="getAllVideos" resultType="Video">
        SELECT
            vd.id      AS id,
            vd.ownerid AS ownerid,
            vd.name    AS name,
            vd.size    AS size,
            vd.url     AS url
        FROM video vd,
            (SELECT videoid
             FROM relationship
             WHERE ownerid = #{0} AND friendid = #{1}) re
        WHERE re.videoid = vd.id;
    </select>

    <insert id="addContact">
        INSERT INTO relationship (ownerid, friendid, notename, notetelephone, noteindustry, noteinterest, noteemail)
        VALUES (#{0}, #{2}, #{1,jdbcType=VARCHAR}, #{3,jdbcType=VARCHAR}, #{6,jdbcType=VARCHAR},
                #{4,jdbcType=VARCHAR}, #{5,jdbcType=VARCHAR})
    </insert>

    <insert id="addContactWithVideo">
        INSERT INTO relationship (ownerid, friendid, notename, notetelephone, noteindustry, noteinterest, noteemail, videoid)
        VALUES (#{0}, #{2}, #{1,jdbcType=VARCHAR}, #{3,jdbcType=VARCHAR}, #{6,jdbcType=VARCHAR},
                #{4,jdbcType=VARCHAR}, #{5,jdbcType=VARCHAR}, #{7,jdbcType=INTEGER})
    </insert>

    <update id="editContactProfile">
        UPDATE relationship
        SET notename     = #{2,jdbcType=VARCHAR}, notetelephone = #{3,jdbcType=VARCHAR},
            noteemail    = #{4,jdbcType=VARCHAR}, noteindustry = #{5,jdbcType=VARCHAR},
            noteinterest = #{6,jdbcType=VARCHAR}
        WHERE ownerid = #{0} AND friendid = #{1}
    </update>

    <delete id="removeContact">
        DELETE FROM relationship
        WHERE ownerid = #{0} AND friendid = #{1}
    </delete>
</mapper>