<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vid.mapper.UserMapper">
    <!-- 这里namespace必须是UserMapper接口的路径” -->
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user(username,name,password,imgpath,bindingemail,showemail,bindingtelephone,showtelephone,industry,interest)
        values(#{username},#{name},#{password},#{imgpath},#{bindingemail},#{showemail},#{bindingtelephone},#{showtelephone},#{industry},
        #{interest})
        <!-- 这里sql结尾不能加分号，否则报“ORA-00911”的错误 -->
    </insert>

</mapper>