/**
 * Created by L.H.S on 2017/1/10.
 */

.nav_bar {
    height: 50px;
    width: 100%;
    background-color: #266eb4;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
}

.logo_div {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 25px;
    color: #fff;
    font-family: "Arial Rounded MT Bold", serif;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
}

.logo_div img {
    width: 100%;
}

.vid_div {
    position: absolute;
    top: 0;
    left: 60px;
}

.bottom_nav {
    height: 60px;
    width: 100%;
    background-color: #266eb4;
    margin-top: 0;
}

.nav_username_div {
    line-height: 50px;
    color: #fff;
    font-family: "Arial Rounded MT Bold", "PingFang SC", serif;
    font-size: 22px;
    font-weight: 300;
    float: right;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    cursor: pointer;
}

.dialog_div {
    width: 130px;
    height: 60px;
    background-color: #fff;
    border-radius: 1px;
    font-size: 20px;
    font-family: "PingFang SC", serif;
    font-weight: 300;
    position: fixed;
    right: 20px;
    top: 60px;
    -webkit-box-shadow:  0 0 6px rgba(0, 0, 0, .5);
    -moz-box-shadow:  0 0 6px rgba(0, 0, 0, .5);
    box-shadow:  0 0 6px rgba(0, 0, 0, .5);
    display: none;
}

.triangle_div {
    width: 0;
    height: 10px;
    border: 15px solid transparent;
    border-bottom: 15px solid #fff;
    position: relative;
    top:-40px;
    left: 50px;
}

.dialog_btn {
    font-size: 16px;
    font-family: "PingFang SC", serif;
    font-weight: 300;
    line-height: 28px;
    position: relative;
    top: -38px;
    padding-left: 15px;
    cursor: default;
}

.dialog_btn:hover {
    background-color: #e5f2fe;
}

.err_lbl {
    font-size: 14px;
    line-height: 30px;
    color: #f43636;
    font-family: "PingFang SC", serif;
    font-weight: 300;
    position: absolute;
    right: 5px;
    top:0;
}

/***** 进度条 *****/
.spinner {
    width: 20px;
    height: 20px;
    position: relative;
    float: left;
    left: 50%;
    margin-left: -80px;
    display: none;
}

.uploading_lbl {
    width: 120px;
    font-size: 14px;
    color: #6aad20;
    position: absolute;
    left: 30px;
    top: 0;
}

.container1 > div, .container2 > div, .container3 > div {
    width: 6px;
    height: 6px;
    background-color: #6aad20;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}