/**
 * Created by L.H.S on 2017/1/10.
 */

html, body {
    height: 100%;
    overflow: hidden;
    overflow-x: auto;!important;
}

#main_body {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    position: relative;
}

.mobile_left {
    width: 40%;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.group_lbl {
    width: 39%;
    height: 100%;
    background-color: #e4e6e8;
    border-right: 1px solid #d4d6d6;
    margin-right: 0;
    display: inline-block;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: auto;
}

#lists {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.each_group {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #afc7d9;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #d6d8db;
    font-family: "Microsoft Sans Serif", "PingFang SC", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 45px;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.each_group i {
    font-size: 14px;
}

.lbl_add {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 1px dashed #424343;
    position: relative;
    top: 7px;
    cursor: pointer;
}

.plus_h {
    width: 14px;
    border: 1px solid #3d3e3e;
    position: relative;
    top: 5px;
}

.plus_v {
    width: 0;
    height: 14px;
    border: 1px solid #3d3e3e;
    position: relative;
    top: -13px;
}

.first_bottom {
    background-color: transparent;
    border-bottom: 2px solid #a6c3d9;
    position: relative;
}

.contacts_list {
    width: 60%;
    height: 50%;
    background-color: #f9f9f9;
    border-right: 1px solid #d4d6d6;
    margin-left: -5px;
    display: inline-block;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.first_bottom i {
    font-size: 20px;
    color: #bfbfbf;
}

.search_field {
    height: 35px;
    width: 150px;
    line-height: 30px;
    font-size: 18px;
    outline: none;
    border: none;
    background-color: transparent;
    padding-top: 5px;
    padding-left: 5px;
}

.search_field::-webkit-input-placeholder,
.search_field::-moz-placeholder,
.search_field:-moz-placeholder,
.search_field:-ms-input-placeholder {
    color: #bfbfbf;
    line-height: 30px;
    font-family: "Microsoft Sans Serif", serif;
    font-weight: lighter;
}

#search_cancel {
    cursor: pointer;
    display: none;
    float: right;
    margin-right: 25px;
}

.no_search {
    font-size: 28px;
    font-family: "PingFang SC", serif;
    font-weight: 300;
    color: #b3b3b4;
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

.index_A {
    width: 15px;
    height: 490px;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    right: 10px;
    transition: 0.3s;
    color: #1981fb;
    text-align: center;
    line-height: 18px;
    font-size: 10px;
    font-family: "PingFang SC", serif;
    padding-top: 5px;
    cursor: pointer;
    z-index: 1000;
}

.index_A:hover {
    background: rgba(236, 236, 236, 0.7);
}

.each_idx {
    width: 100%;
    height: 25px;
    background-color: #ececec;
    border-bottom: #ddd;
    line-height: 25px;
    font-size: 16px;
    font-family: "PingFang SC", serif;
    padding-left: 15px;
}

.each_contact {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-family: "Microsoft Sans Serif", "PingFang SC", serif;
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    cursor: default;
}

.each_contact hr {
    border: 1px solid #e7e7e7;
    position: absolute;
    left: 15px;
    bottom: -10px;
    right: 0;
}

.contact_detail {
    width: 60%;
    height: 100%;
    margin-left: -7px;
    display: inline-block;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: auto;
}

.edit_btn {
    color: #1981fb;
    font-size: 20px;
    font-family: "Microsoft Sans Serif", "PingFang SC", serif;
    font-weight: 300;
    display: inline;
    cursor: pointer;
}

.edit_btn:hover {
    color: #2775cf;
}

.portrait_div {
    width: 90px;
    height: 90px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.my_portrait {
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.upload_lbl {
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    font-family: "PingFang SC", serif;
    font-size: 12px;
    color: #000;
    text-align: center;
}

#fileInput, #eachImage {
    display: none;
}

.portrait_div img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.contact_name {
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    font-family: "PingFang SC", serif;
    font-weight: 300;
    margin-left: 20px;
    position: relative;
    top: 15px;
}

.contact_info {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;
    font-size: 18px;
    font-family: "PingFang SC", serif;
    line-height: 35px;
    font-weight: 300;
    position: relative;
    top: 33px;
}

#videos {
    margin-top: 100px;
    margin-left: 30px;
    padding-bottom: 40px;
    height: 315px;
    overflow-y: auto
}

.video_div {
    width: 205px;
    height: 190px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #000;
    position: relative;
}

.video_div video,
.video_div source {
    width: 205px;
    height: 150px;
}

.video_name {
    width: 100%;
    text-align: center;
    font-family: "PingFang SC", serif;
    font-size: 18px;
    line-height: 40px;
    background-color: #fff;
}

.enlarge_btn {
    width: 26px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    background-color: transparent;
    opacity: 0.3;
    font-family: "PingFang SC", serif;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    position: absolute;
    scroll-snap-type: none;
    top: 5px;
    left: 3px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 1000;
}

.enlarge_btn:hover {
    opacity: 0.5;
}

.enlarge_modal {
    width: 680px;
    padding-bottom: 0;
    margin: 100px auto;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: #000;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    position: relative;
}

.no_video {
    font-size: 28px;
    font-family: "PingFang SC", serif;
    font-weight: 300;
    color: #b3b3b4;
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

.modal_backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.mine_div {
    width: 60%;
    height: 100%;
    display: inline-block;
    margin-right: -5px;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-shadow: 10px 0 7px rgba(51, 51, 51, 0.7);
    -moz-box-shadow: 10px 0 7px rgba(51, 51, 51, 0.7);
    box-shadow: 10px 0 7px rgba(51, 51, 51, 0.7);
    position: relative;
    z-index: 1039;
}

.mine_title {
    font-family: "Microsoft Sans Serif", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 45px;
    position: absolute;
    right: 25px;
}

.mine_left {
    width: 280px;
    height: 100%;
    display: inline-block;
    margin-right: -5px;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: auto;
}

#my_videos {
    margin-top: 70px;
    /*width: 690px;*/
    height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 20px;
}

.tip_text {
    color: #afafaf;
    font-size: 18px;
    line-height: 45px;
    float: left;
    margin-left: 5px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.tip_text:hover {
    color: #3d3e3e;
}

.group_modal {
    width: 275px;
    height: 100px;
    background-color: #e4e6e8;
    margin: 200px auto;
    border-radius: 2px;
    font-family: "PingFang SC", serif;
    color: #afafaf;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.group_field {
    width: 245px;
    height: 40px;
    font-size: 18px;
    margin: 15px 15px;
    border: none;
    padding-left: 5px;
    box-sizing: border-box;
    outline: none;
}

.group_field:hover,
.group_field:focus {
    -webkit-box-shadow: 0 0 8px 3px #79a3c3;
    -moz-box-shadow: 0 0 8px 3px #79a3c3;
    box-shadow: 0 0 8px 3px #79a3c3;
}

.confirm_btn {
    width: 65px;
    vertical-align: center;
    margin: 0 105px;
    font-size: 20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.confirm_btn i:hover {
    color: #2b2b2b;
}

.con_modal_btn {
    width: 35px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-bottom: 1px solid #2b2b2b;
    color: #2b2b2b;
    display: inline-block;
    vert-align: top;
    margin-left: 15px;
    margin-top: 20px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .each_group i {
        display: none;
    }
}

/* 编辑联系人 */
.photo_mod {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    text-align: center;
    line-height: 90px;
    font-size: 18px;
    font-family: "PingFang SC", serif;
    font-weight: 300;
    color: #7db7fb;
    margin-left: 60px;
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
    cursor: default;
    overflow: hidden;
    position: relative;
}

.info_mod {
    vertical-align: top;
    display: inline-block;
    margin-top: 50px;
    margin-left: 40px;
    width: 260px;
}

.photo_img {
    width: 92px;
    height: 92px;
    position: absolute;
    top: -1px;
    left: -1px;
}

.info_field {
    width: 260px;
    height: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding-left: 5px;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "PingFang SC", serif;
    font-weight: 300;
    outline: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 15px;
}

.info_field:focus,
.info_field:hover {
    border-color: #2283f7;
    -webkit-box-shadow: 0 0 4px #6ba8f2;
    -moz-box-shadow: 0 0 4px #6ba8f2;
    box-shadow: 0 0 4px #6ba8f2;
}

.del_btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fc3d39;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 1px;
    position: relative;
    top: -2px;
}

.del_btn hr {
    width: 10px;
    border: 1px solid #fff;
    position: relative;
    top: 1px;
}

.video_name_field {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 170px;
}

.video_name_field .info_field {
    width: 175px;
}

#videosMod {
    padding-left: 26px;
    margin-top: 30px;
}

.bottom_div {
    width: 100%;
    height: 50px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin-top: 30px;
    position: relative;
}

.del_contact {
    width: 135px;
    font-size: 22px;
    color: #f53e3f;
    line-height: 50px;
    font-family: "PingFang SC", serif;
    font-weight: 300;
    margin-left: 20px;
    cursor: pointer;
}

.com_contact {
    font-size: 22px;
    line-height: 50px;
    font-family: "PingFang SC", serif;
    color: #2283f7;
    position: absolute;
    right: 20px;
    bottom: 0;
    cursor: pointer;
}

/* 二维码 */
.QRcode_div {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    display: none;
}

.QRcode_div img {
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.qr_img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 7px;
    cursor: pointer;
}

/* 适配手机端 */
@media screen and (max-width: 768px) {
    #main_body {
        width: 200%;
        position: relative;
    }
    .contact_detail {
        width: 49%;
        margin-left: -5px;
    }

    .video_name_field {
        margin-left: 30px;
    }

    .mobile_left {
        width: 50%;
        position: relative;
    }

    .mobile_left .group_lbl {
        width: 40%;
    }

    .mobile_left .contacts_list {
        width: 59%;
    }

    .enlarge_modal {
        width: 99%;
    }

    .no_video {
        text-align: left;
    }

    .mine_div {
        width: 50%;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
}