body {
    background-image: url("../image/email_verify_bg.png");
    overflow: hidden;
}

.modal_backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background: rgba(0, 0, 0, 0.6);
}

.modal {
    width: 70%;
    padding: 40px 30px;
    background-color: #fff;
    margin: 130px auto;
}

.title_img {
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.title_text {
    font-size: 36px;
    display: inline-block;
    vertical-align: middle;
    font-family: "PingFang SC", serif;
    color: #2692ea;
}

.content_text {
    font-size: 20px;
    font-family: "PingFang SC", serif;
    margin-left: 50px;
    margin-top: 40px;
}

.content_text span {
    color: #2692ea;
    font-weight: 500;
}

.goto_btn {
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #2692ea;
    border-radius: 4px;
    font-family: "PingFang SC", serif;
    color: #fff;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 40px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.goto_btn:hover {
    background-color: rgba(38, 146, 234, 0.9);
}

.modal_pwd {
    width: 320px;
    min-height: 285px;
    padding: 30px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    margin: 130px auto;
}

.reset_pwd_field {
    width: 295px;
    height: 40px;
    border: 1px solid #d8d8d8;
    outline: none;
    font-size: 15px;
    font-family: "PingFang SC", serif;
    padding-left: 5px;
}

.reset_pwd_field:hover,
.reset_pwd_field:focus {
    -webkit-box-shadow: 0 0 8px 3px #79a3c3;
    -moz-box-shadow: 0 0 8px 3px #79a3c3;
    box-shadow: 0 0 8px 3px #79a3c3;
}

.reset_lbl {
    font-size: 28px;
    color: #000;
    font-family: "PingFang SC", serif;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.invalid_lbl {
    font-size: 19px;
    width: 100%;
    text-align: center;
    font-family: "PingFang SC", serif;
    margin-top: 80px;
}