/**
 * Created by L.H.S on 2017/1/10.
 */

.nav_bar {
    height: 50px;
    width: 100%;
    background-color: #266eb4;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
}

.logo_div {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 25px;
    color: #fff;
    font-family: "Arial Rounded MT Bold", serif;
    line-height: 50px;
}

.logo_div img {
    width: 100%;
}

.vid_div {
    position: absolute;
    top: 0;
    left: 60px;
}

.bottom_nav {
    height: 60px;
    width: 100%;
    background-color: #266eb4;
    margin-top: 0;
}