/**
 * Created by L.H.S on 2017/1/10.
 */

html, body {
    height: 100%;
    overflow: hidden;
    overflow-x: auto;
}

.group_lbl {
    width: 17%;
    min-width: 165px;
    height: 100%;
    background-color: #e4e6e8;
    border-right: 1px solid #d4d6d6;
    display: inline-block;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: auto;
}

.each_group {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #afc7d9;
    padding-left: 15px;
    background-color: #d6d8db;
    font-family: "Microsoft Sans Serif", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 45px;
    cursor: default;
}

.lbl_add {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 1px dashed #424343;
    position: relative;
    top: 7px;
    cursor: pointer;
}

.plus_h {
    width: 14px;
    border: 1px solid #3d3e3e;
    position: relative;
    top: 5px;
}

.plus_v {
    width: 0;
    height: 14px;
    border: 1px solid #3d3e3e;
    position: relative;
    top: -13px;
}

.first_bottom {
    background-color: transparent;
    border-bottom: 2px solid #a6c3d9;
    position: relative;
}

.contacts_list {
    width: 27%;
    min-width: 260px;
    height: 100%;
    background-color: #f9f9f9;
    border-right: 1px solid #d4d6d6;
    margin-left: -4px;
    display: inline-block;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.first_bottom i {
    font-size: 20px;
    color: #bfbfbf;
}

.search_field {
    height: 35px;
    width: 150px;
    line-height: 30px;
    font-size: 18px;
    outline: none;
    border: none;
    background-color: transparent;
    padding-top: 5px;
    padding-left: 5px;
}

.search_field::-webkit-input-placeholder,
.search_field::-moz-placeholder,
.search_field:-moz-placeholder,
.search_field:-ms-input-placeholder {
    color: #bfbfbf;
    line-height: 30px;
    font-family: "Microsoft Sans Serif", serif;
    font-weight: lighter;
}

#search_cancel {
    cursor: pointer;
    display: none;
    float: right;
    margin-right: 25px;
}

.index_A {
    width: 15px;
    height: 490px;
    border-radius: 10px;
    position: absolute;
    top: 90px;
    right: 10px;
    transition: 0.3s;
    color: #1981fb;
    text-align: center;
    line-height: 18px;
    font-size: 10px;
    font-family: "PingFang SC", serif;
    padding-top: 5px;
    cursor: pointer;
    z-index: 9999;
}

.index_A:hover {
    background: rgba(236, 236, 236, 0.7);
}

.each_idx {
    width: 100%;
    height: 25px;
    background-color: #ececec;
    border-bottom: #ddd;
    line-height: 25px;
    font-size: 16px;
    font-family: "PingFang SC", serif;
    padding-left: 15px;
}

.each_contact {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-family: "Microsoft Sans Serif", serif;
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
    position: relative;
    cursor: default;
}

.each_contact hr {
    border: 1px solid #e7e7e7;
    position: absolute;
    left: 15px;
    bottom: -10px;
    right: 0;
}


.contact_detail {
    width: 55.9%;
    min-width: 510px;
    height: 100%;
    margin-left: -5px;
    display: inline-block;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: auto;
}

.edit_btn {
    color: #1981fb;
    font-size: 20px;
    font-family: "Microsoft Sans Serif", serif;
    font-weight: lighter;
    cursor: pointer;
}

.edit_btn:hover {
    color: #2775cf;
}

.portrait_div {
    width: 90px;
    height: 90px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.portrait_div img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.contact_name {
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    font-family: "PingFang SC", serif;
    font-weight: 300;
    margin-left: 20px;
    position: relative;
    top: 15px;
}

.contact_info {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;
    font-size: 18px;
    font-family: "PingFang SC", serif;
    line-height: 35px;
    font-weight: 300;
    position: relative;
    top: 33px;
}

.video_div {
    width: 205px;
    height: 150px;
    background-color: #d8d8d8;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 970px) {

    .contact_detail {
        position: absolute;
        left: 430px;
        right: 0;
        height: 615px;
    }
}