body {
   background-image: url("../image/login_bg.png");
}

.welcome {
    width: 100%;
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 120px;
    font-family: "Adobe Heiti Std", serif;
}